.tabla-wrapper {
  max-height: 350px;
  width: 100%;
  overflow: auto;
}
.tabla-respuestas-wrapper {
  height: 180px;
  width: 100%;
  overflow: auto;
}
/* Tabla */
.tabla-wrapper table,
.tabla-respuestas-wrapper table {
  width: 100%;
  min-width: 750px;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  table-layout: auto;
}

/* Encabezados */
.tabla-wrapper thead th,
.tabla-respuestas-wrapper thead th {
  text-align: center !important;
  white-space: nowrap;
  word-break: normal;
  overflow-wrap: normal;
  background-color: #f1f1f1;
}

/* Encabezado fijo */
thead {
  position: sticky;
  top: 0;
  z-index: 5;
}

tbody {
  display: table-row-group !important;
}

/* Celdas */
.tabla-wrapper th,
.tabla-wrapper td,
.tabla-respuestas-wrapper th,
.tabla-respuestas-wrapper td {
  padding: 6px 10px;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
  text-align: center;
}
.tabla-wrapper td,
.tabla-respuestas-wrapper td {
  word-break: normal;
  overflow-wrap: normal;
}

/* Hover */
tbody tr:hover {
  background-color: #f8f8f8;
}

/* Fila seleccionada */
table tr.selected-user,
table tr.selected-row {
  background-color: #e3d6c0 !important;
  border-left: 5px solid #a17a4a;
  cursor: default;
}
.toolbar-container {
  margin-bottom: 20px; /* separa el buscador de la tabla */
}

/* Estilos para colores del semaforo*/
.tiempo-respuesta-cell {
  text-align: center;
}

/* Círculo */
.semaforo {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 6px;
  border: 1px solid #999;
}

/* Colores del semáforo */
.semaforo-verde {
  background-color: #28a745;
}

.semaforo-amarillo {
  background-color: #ffc107;
}

.semaforo-rojo {
  background-color: #dc3545;
}

/* Acciones (botones*/

.actions-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  flex-wrap: nowrap;
}

.tabla-wrapper th:last-child,
.tabla-wrapper td:last-child,
.tabla-respuestas-wrapper th:last-child,
.tabla-respuestas-wrapper td:last-child {
  min-width: 135px;
  white-space: nowrap;
}

.btn-action {
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 6px;
  min-width: auto;
  line-height: 1.2;
}
